<footer class="footer wow fadeIn">
  <div class="container-full mw-1660">
    <div class="footer__inner">
      <a href="/" class="logo">
        <img src="images/global/logo.svg" alt="Logo">
      </a>
      <p class="footer__info">
        Вся представленная на сайте информация носит <br> информационный характер и не является публичной
        офертой
      </p>
      <div class="footer__copyright">
        <a href="#">
          Политика конфиденциальности
        </a>
        <span>Copyright 2023. ФЭС.рф</span>
      </div>
    </div>
  </div>
</footer>
