.subject {
  margin-bottom: size(30);

  @include media(lg) {
    margin-bottom: size(60);
  }


  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: size(20);

    @include media(lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    .btn {
      align-self: flex-start;
      margin-top: auto;
    }
  }

  &__item-img {
    --adaptive-box: 64.79%;
    border-radius: size(16);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: size(24);
  }

}
