$color-primary: #00912c;
$color-primary-hover: #00621a;
$color-primary-active: #00621a;
$color-secondary: #303030;
$color-thridary:  #02da72;
//$color-secondary-hover:;
//$color-secondary-active:;
//$color-black:;
//$color-grey:;
//$color-white:;
